<%= form_with(model: bank_slip, class: "grid grid-cols-1 md:grid-cols-5 gap-4", id: "new_bank_slip_form") do |f| %>
  <div><%= f.text_field :customer, placeholder: " Customer", class: "w-full border border-gray-300 bg-white rounded-md rounded-md" %></div>
  <div><%= f.number_field :total_in_cents, placeholder: " Value", class: "w-full border border-gray-300 bg-white rounded-md" %></div>
  <div><%= f.date_field :due_date, class: "w-full border border-gray-300 bg-white rounded-md" %></div>
  <div><%= f.text_field :external_id, placeholder: " External ID", class: "w-full border border-gray-300 bg-white rounded-md" %></div>
  <div><%= f.submit "Create Slip", class: "bg-blue-600 text-white px-4 py-2 rounded" %></div>
<% end %>